/
<template>
  <div class="article">
    <div class="left-z">
      <div class="upper">文章</div>
      <div class="down"></div>
    </div>
    <div class="right-y">
      <div class="up"></div>
      <div class="don"></div>
    </div>
  </div>
</template>
<script setup lang="ts"></script>

<style lang="less">
.article {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 3%;
  background: @bgcolor;
  .left-z {
    width: 70%;
    height: 100%;
    float: left;
    background: @white;
  }
  .right-y {
    width: 25%;
    height: 100%;
    float: right;
    background: @white;
  }
}
</style>
