/
<template>
  <div class="knowledge">
    <div class="left-c">
      <div class="down">知识小册</div>
    </div>
    <div class="right-c">
      <div class="up"></div>
      <div class="don"></div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: `Knowledge`,
}
</script>

<style lang="less">
.knowledge {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 3%;
  background: @bgcolor;
  .left-c {
    width: 70%;
    height: 100%;
    float: left;
    background: @white;
  }
  .right-c {
    width: 25%;
    height: 100%;
    float: right;
    background: @white;
  }
}
</style>
