<template>
  <div id="wraper">
    <div class="head"><base-header /></div>
    <div class="main"><router-view /></div>
  </div>
</template>
<script setup lang="ts"></script>
<style lang="less">
.main {
  width: 100%;
  height: calc(100% - 100px);
}
</style>
