/<template>
  <svg
    t="1660786499355"
    class="icon"
    viewBox="0 0 1024 1024"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    p-id="1105"
    width="25"
    height="25"
  >
    <path
      d="M698.65472 5.3248L696.44288 0C888.832 80.26112 1024 270.1312 1024 491.58144 1024 785.6128 785.6128 1024 491.58144 1024 270.1312 1024 80.26112 888.81152 0 696.44288a530.67776 530.67776 0 0 0 204.88192 40.87808c294.05184 0 532.43904-238.3872 532.43904-532.43904 0-70.57408-13.7216-137.9328-38.66624-199.55712z m120.15616 176.51712l0.3072 11.50976 0.12288 11.53024c0 339.29216-275.0464 614.35904-614.35904 614.35904-7.70048 0-15.38048-0.14336-23.04-0.43008A450.06848 450.06848 0 0 0 491.58144 942.08C740.39296 942.08 942.08 740.39296 942.08 491.58144a450.06848 450.06848 0 0 0-123.2896-309.73952z"
      p-id="1106"
    ></path>
    <path
      d="M389.2224 245.8624l-96.29696 50.62656 18.39104-107.23328-77.90592-75.93984 107.66336-15.64672L389.2224 0.1024l48.14848 97.56672 107.68384 15.64672-77.90592 75.93984 18.39104 107.23328zM266.3424 512.1024l-48.128 25.31328 9.17504-53.61664-38.95296-37.96992 53.84192-7.82336 24.064-48.78336 24.08448 48.78336 53.84192 7.82336-38.97344 37.96992 9.216 53.61664z"
      p-id="1107"
    ></path>
  </svg>
</template>

<script>
export default {}
</script>

<style>
</style>